@mixin title-style{
  font-size: 25px;
  color: #3B3B3B;
  opacity: 1;
  letter-spacing: 2.5px;
}

.top-img-button{
  display: flex;
}

 .top{
  text-align: center;
  margin-top: 11px;
  margin-left: 88px;
  width: 62px;
  height: 37px;
  color: #918F89;
  opacity: 1;
 }
 .top1{
   list-style: none;
   display:flex;
   justify-content: space-between;
   list-style: none;
   margin-left: auto;
   margin-right: 89px;
   width: 336px;
   height: 35px;
   color: #272727;
 }

 li{
   font-size: 16px;
 }

 .home-banners{
   position:relative;
 }
 .home-banner{
   width: 100%;
   height: 741px;
   background-repeat: no-repeat;
   background: url('img/home-banner.jpg') 0% 0% no-repeat padding-box;
 }

 .home-p{
   position: absolute;
   top: 324px;
   left: 0px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 0.8;
   font-size: 60px;
   color: #918F89;
   padding:30px 60px 23px 88px;
 }

.home1{
  margin-top: 142px;
  margin-right: 70px;
  margin-left: 88px;
  height: 500px;
  width: 544px;
  float: left;
  background: url('img/home1.png');
}
.home1-title{
  margin-top: 343px;
  font-size: 25px;
}

.home1-p{
  margin-top: 40px;
  font-size: 12px;
  letter-spacing: 0.36px;
  font: Regular 12px/30px Noto Sans;
  letter-spacing: 0.36px;
}


.home2-title{
  margin-top: 292px;
  margin-right: 543px;
  margin-left: 543px;
  height: 29px;
  width: 194px;
  @include title-style;
}
.home2{
  background-repeat: no-repeat;
  background: transparent url('img/home2.png');
  margin-top: 50px;
  margin-left: 158px;
  margin-right: 158px;
  height: 503px;
  width: 964px;
}

.news-title{
  margin-top: 246px;
  @include title-style;
  text-align: center;
}

.home3-5{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-title{
  font-size: 21px;
  margin-top: 39px;
  display: block;
  text-align: center;
}

.contact-title{
  margin-top: 221px;
  display: block;
  text-align: center;
  font-size: 25px;
}

.contact-form{
  margin-top: 60px;
  text-align: center;
}
.yourname{
  text-align: center;
  width: 463px;
}
