@mixin title-style{
  font-size: 25px;
  color: #3B3B3B;
  opacity: 1;
  letter-spacing: 2.5px;
}


// ヘッダーとフッター
.top-img-button{
  display: flex;
}

 .top{
  text-align: center;
  margin-top: 11px;
  margin-left: 88px;
  width: 62px;
  height: 37px;
  color: #918F89;
  opacity: 1;
 }
 .top1{
   display:flex;
   justify-content: space-between;
   list-style: none;
   margin-left: auto;
   margin-right: 89px;
   width: 336px;
   height: 35px;
   color: #272727;
 }

 li{
   font-size: 16px;
 }
 .header-about-button{
   color: #272727;
 }
.header-news-button{
  color: #272727;
}
.header-qa-button{
  color: #272727;
}



.footer-about-button{
  font-size: 18px;
  color: #FFFFFF;
}
.footer-news-button{
  font-size: 18px;
  color: #FFFFFF;
}
.footer-qa-button{
  font-size: 18px;
  color: #FFFFFF;
}


// indexページのデザイン

 .home-banners{
   position:relative;
 }
 .home-banner{
   width: 100%;
   height: 741px;
   background-repeat: no-repeat;
   background: url('img/home-banner.jpg') 0% 0% no-repeat padding-box;
 }

 .home-p{
   position: absolute;
   top: 324px;
   left: 0px;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   opacity: 0.8;
   font-size: 60px;
   color: #918F89;
   padding:30px 60px 23px 88px;
 }

.home1{
  margin-top: 142px;
  margin-right: 70px;
  margin-left: 88px;
  height: 500px;
  width: 544px;
  float: left;
  background: url('img/home1.png');
}
.home1-title{
  margin-top: 343px;
  font-size: 25px;
}

.home1-p{
  margin-top: 40px;
  font-size: 12px;
  letter-spacing: 0.36px;
}


.home2-title{
  margin-top: 292px;
  height: 29px;
  text-align: center;
  @include title-style;
}
.home2{
  background-repeat: no-repeat;
  background: transparent url('img/home2.png');
  display:block;
  margin-top: 50px;
  margin: auto;
  height: 503px;
  width: 964px;
}

.newstitle{
  margin-top: 246px;
  @include title-style;
  text-align: center;
}

.home3-5{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home3{
  width: 30%;
  margin: 2% 2% 2% 3%;
}
.home4{
  width: 30%;
}
.home5{
  width: 30%;
  margin: 2% 3% 2% 2%;
}


.view-title{
  font-size: 21px;
  margin-top: 39px;
  display: block;
  text-align: center;
}

.contact-title{
  margin-top: 221px;
  display: block;
  text-align: center;
  font-size: 25px;
}


.yourname{
  display:block;
  margin-top: 30px;
  width: 463px;
  height: 35px;
  margin: auto;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
}
.email{
  display:block;
  width: 463px;
  height: 35px;
  margin: auto;
  margin-top: 30px;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
}

.textarea{
  display:block;
  width: 463px;
  height: 156px;
  margin: auto;
  margin-top: 30px;
  border: 0.5px solid #707070;
  border-radius: 11px;
  opacity: 0.6;
  resize: none;
}
.button{
  display:block;
  border-radius: 20px;
  width: 111px;
  height: 35px;
  margin: auto;
  margin-top: 68px;
  color: #FFFFFF;
  background-color: #707070;
  &:hover{
  transition:.3s;
  opacity: 0.6;
  color: rgba(255, 255, 255, 1);
  }
}

.footers{
  width: 100%;
  height: 284px;
  margin-top: 228px;
  background-color: #918F89;
  display: flex;
}

.footer-top{
  font-size: 22px;
  text-align: center;
  margin: auto;
  color: #FFFFFF;
}
.footer-tops{
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
li{
  list-style: none;
}
a{
  text-decoration:none;
}



// NEWSページのデザイン
.news-banners{
  display: flex;
  position:relative;
}
.news-banner{
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background: url('img/banner2.png');
}
.news-p{
  position: absolute;
  opacity: 1;
  font-size: 30px;
  font-family: 'Noto Sans';
  color: #918F89;
  padding-top: 179px;
  padding-left: 228px;
}

.news-title{
  text-align: center;
  font-size: 21px;
  margin-top: 86px;
  margin-bottom: 80px;
}


// Q&Aページのデザイン
.qa-banners{
  display: flex;
  position:relative;
}
.qa-banner{
  width: 100%;
  height: 415px;
  background-repeat: no-repeat;
  background: url('img/qa-top.png');
}
.qa-banner-p{
  position: absolute;
  opacity: 1;
  font-size: 30px;
  font-family: 'Noto Sans';
  color: rgba(255, 255, 255, 1);
  padding-top: 179px;
  padding-left: 228px;
}

.qa-title{
  display: block;
  text-align: center;
  margin-top: 69px;
  font-size: 21px;
  letter-spacing: 0.63px;
  color: rgba(59, 59, 59, 1);
}


.qa-p-s{
  margin-top: 84px;
  margin-right: 30%;
  margin-left: 30%;
  text-align: left;
  width: 474px;
}
.qa{
  font-size: 16px;
}

.icon{
  padding-left: 187px;
  color: #00000034;
}
.icon ::before{
  content: '\f078';
  background: url(img/icon-down.svg);
  font-size: 16px;
}
.icon ::after{
  transform:rotateY(-180deg);
  transition: 1s;
}
summary::-webkit-details-marker{
  display:none;
}

.qa-p{
  font-size: 12px;
}
